@import 'variables.scss';

.mm-item-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}
.mm-section {
    perspective: 1000px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
    &::before {
        content: '';
        display: inline-block;
        width: 1px;
        height: 0;
        padding-bottom: 100%;
    }
    &:hover .mm-section-content {
      //  transform: rotateY( 180deg );
      //  transition: transform 0.5s;
    }
}
.mm-section-content {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    transition: transform 1s;
    transform-style: preserve-3d;

}
.mm-front {
    position: relative;
    img {
        filter: brightness(50%);
        backface-visibility: hidden;
    }
}
.mm-flip-icon {
    position: absolute;
    width: 40px;
    right: 12px;
    bottom: 20px;

    fill: #fff;
    z-index: 1;

    transform: rotate(0);
    transition: transform 100ms ease;
    .mm-section:hover & {
        transform: rotate(90deg);
    }

}
.mm-front-inner, .mm-back {
    background-color: #fff;
    backface-visibility: hidden;
    height: 100%;
    padding: 25px;
    position: absolute;
    top: 0;
    width: 100%;
 
}
.mm-front-inner {
    background-color: rgba(255,255,255,0);
    color: #fff;
    display: grid;
    grid-template-rows: 5fr 1fr;
    h3 {
        align-self: center;
        text-align: center;
        font-size: 2.25rem;
        font-weight: 900;
    }
    a {
        background-color: $blue;
        color: #fff;
        width: 160px;
        padding: 10px 30px;
        align-self: start;
        justify-self: center;
        transition: background-color 0.2s ease;
        text-transform: uppercase;;
        font-size: 0.85em;
        font-weight: bold;
        letter-spacing: 0.25px;
        &:hover {
            text-decoration: none;
            background-color: $dark_blue;
        }

    }
}
.mm-back {
    background-color: $dark_blue;
    color: #fff;
    transform: rotateY(180deg);
}
.mm-back-header {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}